body {
    background-color: rgb(241, 242, 246) !important;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    padding-top: 0px !important;
}

.footer {
    padding: 10px !important;
    position: absolute;
    width: 100%;
}
.footer .container {
    min-height: 50px !important;
    padding-top: 5px;
}
h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

.jumbotron {
    /*background-color: #A0D468 !important*/
    background-color: #8CC152 !important;
    color: #ffffff !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.masthead .title {
    font-size: 120px;
    line-height: 1;
    letter-spacing: -2px;
}
.masthead .subtitle {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
    display: block;
}

.modal {
    overflow-y: auto !important;
}

#createDirectoryButton {
    margin: 3px;
}


/*
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}*/
